*.Cache
*.Settings
*.bat
*.class
*.jar
*.log
*.map
*.nupkg
*.sdsettings
*.shf*
*.suo
*.user
*.userprefs
*.versionsBackup
.classpath
.nuget/
.pmd
.project
.settings/
CBORTest/OpenCover/
CBORTest/ProfilingSessions/
CBORTest/bin/
CBORTest/obj/
Help/
ProfilingSessions/
TestResults/
bin/
encoding/
encodingfldr/
node_modules/
obj/
packages/
release.properties
target/
