/*
This portion taken from the public-domain
CSS reset at: http://meyerweb.com/eric/tools/css/reset/
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
///////////////////////////////////////////////////////////////////
//
//   This portion written by Peter O. 2015.
//
//   Any copyright is dedicated to the Public Domain.
//   http://creativecommons.org/publicdomain/zero/1.0/
//
//   If you like this, you should donate to Peter O.
//   at: http://peteroupc.github.io/
//
/* Other style normalizations */

small { font-size:75%; }
big { font-size:125%; }
sup { vertical-align:super; font-size:75%; line-height:0;position:relative }
sub { vertical-align:sub; font-size:75%; line-height:0;position:relative  }

th, td {
  vertical-align: middle;
}

a {text-decoration: underline;}
a:hover {text-decoration: underline;}
a:hover, a:active { outline: 0; }

/* Alignment and margins */

p, h1, h2, h3, h4, h5, h6, td, dt, blockquote, div, li, dd{
  text-align: left;
  line-height: 1.5;
}

th {
  text-align: center;
  line-height: 1.5;
}

p {
  margin-top: 0.6em;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

li, dd {
 margin-left: 0.5em;
 ul, ol {
  margin-top: 0em;
  margin-bottom: 0em;
 }
}

blockquote {
 margin-left: 2em;
 margin-right: 2em;
}

dd {
 margin-top: 0.6em;
 margin-bottom: 0.8em;
}

ul, ol {
  margin: 1em 0 1.5em 1.5em;
}

/* List styles */

ul {
  list-style: outside disc;
}
ol {
  list-style: outside decimal;
  ol {
    list-style-type: lower-alpha;
    ol {
      list-style-type: lower-roman;
      ol {
         list-style-type: upper-alpha;
      }
    }
  }
}

/* Fixes */

html {
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
